@font-face {
  font-family: "DePixelKlein";
  src: url('/src/assets/DePixelKlein.ttf') format("truetype");
}

@font-face {
  font-family: 'Chicago Plain';
  font-style: normal;
  font-weight: normal;
  src: url('/src/assets/Chicago.woff') format('woff');
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  background-image: url('/src/img/background.png');
  background-repeat: repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'DePixelKlein', sans-serif;
}

img {
  image-rendering: pixelated;
}


/* Titlebar */
.titlebar {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* space between left and right groups */
  padding: 0 10px;
  box-sizing: border-box;
}

/* Left section (Logo and Dropdown) */
.left-section {
  display: flex;
  align-items: center;
}

.logo {
  background-image: url('/src/img/pixeldot32.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  display: block;
  width: 45px;
  height: 28px;
  padding: 4px;
  border: none;
  outline: none;
}

/* Dropdown */
.dropdown {
  position: relative;
  font-family: 'Chicago Plain';
  margin-left: 0px;
}

.dropdown:hover .dropdowntext {
  background-color: black;
  color: white;
}
.dropdown:hover .logo {
  background-color: black;
  color: white;
}

.dropdowntext {
  font-size: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Chicago Plain';
  padding: 0.3rem;
  padding-left: 12px;
  padding-right: 10px;
  padding-bottom: 0.2rem;
}
.dropdowntext:hover {
  background-color: black;
  color: white;
}
.dropdowncontent {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  min-width: 250px;
  margin-top: 0px;
  border: 1px outset black;
  font-size: 15px;
  top: 100%;
  left: -1px;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 15px;
  z-index: 1;
  box-shadow: 
  2px 2px 0px 0px rgba(0, 0, 0, 0.5), /* main sharp shadow */
  4px 4px 0px 0px rgba(0, 0, 0, 0.3), /* extra depth for mac os 8 feel */
  inset 0px 0px 0px 1px #e0e0e0; /* slight inset for border definition */
}

.dropdowncontent a {
  display: block;
  padding: 2px;
  color: black;
  text-decoration: none;
}

.dropdowncontent a:hover {
  background-color: black;
  color: white;
}

.dropdown:hover .dropdowncontent {
  display: block;
}

/* Right section (Clock and Twitter) */
.right-section {
  display: flex;
  align-items: center;
}

.xlink {
  display: flex;
  align-items: center;
  gap: 10px;
}

.xlogo {
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  background-image: url('/src/img/twitter.png');
  cursor: pointer;
}

.clock {
  font-size: 18px;
  font-family: 'Chicago Plain', sans-serif;
  color: black;
  padding-left: 10px;
}

.divider {
  height: 40px;
}

.windowtitle {
  text-align: center;
  background-color: black;
  height: 30px; 
  width: 60%;
  margin: auto;
  border: 1px outset black;
  box-shadow: 
    4px 4px 0px 0px rgba(0, 0, 0, 0.5), /* main sharp shadow */
    8px 8px 0px 0px rgba(0, 0, 0, 0.3), /* extra depth for mac os 8 feel */
    inset 0px 0px 0px 1px #e0e0e0; /* slight inset for border definition */
  
  background: url('/src/img/windowborderleft.png') no-repeat left bottom,
              url('/src/img/windowborderright.png') no-repeat right bottom,
              url('/src/img/windowbordercenter.png') no-repeat center bottom, #fff;
  
  background-position: 
      0 bottom, 
      100% bottom, 
      center bottom;
  background-size: 
      auto 100%, 
      auto 100%, 
      auto 100%;
}

.windowtitlename {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #efefef;
  font-family: 'Chicago Plain';
  font-weight: normal;
  color: black;
  font-size: 18px;
}

/* Main Content Area */
.contentarea {
  width: 60%;
  min-height: 500px;
  margin: auto;
  margin-bottom: 30px;
  background-color: white;
  border: 2px solid black;
  border-right: 1px solid black;
  position: relative;
  box-shadow: 
    4px 4px 0px 0px rgba(0, 0, 0, 0.5), /* main sharp shadow */
    8px 8px 0px 0px rgba(0, 0, 0, 0.3), /* extra depth for mac os 8 feel */
    inset 0px 0px 0px 1px #e0e0e0; /* slight inset for border definition */
}


/* Container for the radio button group */
.relay-selector {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Chicago Plain', sans-serif;
}

/* Style for each radio button label */
.relay-label {
  display: flex;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  color: black;
  position: relative; /* Ensure proper alignment */
}

/* Hide the actual radio button input */
input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Custom radio button style */
.custom-radio {
  width: 17px;
  height: 17px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

/* When the radio button is checked, fill in the center circle */
input[type="radio"]:checked + .custom-radio::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
}


.textbox {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0px;
  padding-bottom: 60px;
  text-align: left;
}

/* Table */
.chain-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  border: 2px outset #cccccc;
  margin-top: 10px;
  text-align: right;
}

/* Table Headers */
th {
  background-color: #e0e0e0; 
  color: black;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #b0b0b0;
  box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #b0b0b0;
  cursor: pointer;
}

th.sortable:hover {
  background-color: #d0d0d0;
}

th:first-child {
  text-align: left; 
}

th.sortable::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Table Rows */
td {
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #b0b0b0;
  box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #b0b0b0;
}

td:first-child {
  text-align: left; 
}

tr:nth-child(even) td {
  background-color: #e5e5e5;
}

tr:hover td {
  background-color: #b0c0e0 !important;
}

.polkadot-highlight td {
  font-weight: bold;
  background-color: rgba(230, 0, 122, 0.1) !important;
}

/* TPS, MB/s, and Gas Total Boxes */
/* Container for buttons and description */
.metrics-total-container {
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

.metrics-total {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.metric-button {
  background-color: #dcdcdc;
  border: 2px solid #ffffff;
  border-right-color: #8a8a8a;
  border-bottom-color: #8a8a8a;
  padding: 10px;
  font-family: 'Chicago Plain', sans-serif;
  font-size: 14px;
  width: 30%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-align: center;
  box-shadow: inset 2px 2px #ffffff, inset -2px -2px #8a8a8a;
}

.metric-button span {
  font-weight: bold;
}

/* Active (Pressed) Button State */
.metric-button.active {
  background-color: #d4d4d4;
  border-top-color: #8a8a8a;
  border-left-color: #8a8a8a;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  box-shadow: inset 2px 2px 2px #8a8a8a, inset -2px -2px 2px #ffffff;
}

.multiplier {
  color: #e6007a;
}

/* Description text */
.metric-description {
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  color: #333;
  border-radius: 4px;
  width: 80%;
  margin: 0 auto;
  height: 50px;
}

/* Responsive Design */
@media (max-width: 1178px) {

  .titlebar {
    height: 40px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .logo {
    height: 38px;
  }
  .dropdowntext {
    font-size: 18px;
    margin-top: 0px;
    padding-bottom: 8px;
    padding-top: 7px;
  }
  .twitter {
    margin-top: 0px;
  }

  .windowtitle, .contentarea {
    width: 95%;
  }

  .relay-selector {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .chain-table {
    font-size: 0.7rem; /* Smaller font size for better fit */
    padding: 1px;
    justify-content: center;
  }

  th, td {
    padding: 5px; /* Reduce padding on mobile */
    font-size: 0.7rem; /* Slightly smaller text */
    white-space: normal; /* Allow text wrapping */
  }

  th, td:first-child {
    text-align: left;
  }

  .loading-bar-container {
    width: 30px !important; /* Even smaller loading bar for mobile */
    height: 8px !important;
  }

  .loading-bar {
    width: 12px !important;
    animation: load-mobile 1.0s infinite steps(10) alternate !important;
  }


  .metrics-total-container {
    width: 95%;
    margin: 0px auto;
  }

  .metrics-total {
    flex-direction: row;
    align-items: center;
    padding-bottom: 0px;
  }

  .metric-button {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 10%;
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .metric-button span {
    display: block;
  }

  .metric-description {
    width: 95%;
    margin: 0;
    padding: 0;
    height: auto;
    font-size: 14px;
  }

  .textbox {
    padding: 0px 2px 20px 2px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .divider {
    height: 20px;
  }
  /* don't float footer on mobile */
  .footer {
    position: absolute !important;
    bottom:unset !important;
  }
  @keyframes load-mobile {
    0% {
      left: 0;
    }
    100% {
      left: calc(100% - 10px); /* Keep the bar inside the container */
    }
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdfdf;
  border-top: 1px solid black;
  padding: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-button {
  margin: 0 10px;
  background-color: #d4d4d4;
  border: 2px solid #ffffff;
  border-right-color: #8a8a8a;
  border-bottom-color: #8a8a8a;
  padding: 5px 15px;
  font-family: 'Chicago Plain';
  font-size: 10px;
  color: black;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.footer-button a {
  text-decoration: none;
  color: black;
}

.footer-button:hover {
  background-color: #e0e0e0;
}

.footer-button:active {
  background-color: #b0b0b0;
  border: 2px solid #8a8a8a;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  box-shadow: inset 1px 1px 1px 0px #8a8a8a, inset -1px -1px 1px 0px #ffffff;
}

.footer-text {
  margin-left: 30px;
  font-family: 'Chicago Plain';
  font-size: 10px;
  color: black;
}

/* Retro Mac "Progress Bar" Loading Icon */
.loading-bar-container {
  display: inline-block;
  width: 50px;
  height: 12px;
  background-color: #cccccc;
  border: 2px inset #000000;
  position: relative;
  overflow: hidden;
  margin-left: 5px;
}

.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background-color: #000;
  animation: load-move 1.0s infinite steps(10) alternate;
}

/* Animation for the loading bar movement */
@keyframes load-move {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 16px); /* Keep the bar inside the container */
  }
}
